@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-white text-black; /* light mode default */
}


.dark body {
    @apply bg-black text-white; /* dark mode */
}


@keyframes twinkle {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }

.twinkle {
    animation: twinkle 2s infinite ease-in-out;
  }